<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentsMarks.Properties.Settings.StudentsMarksConnectionString"
            connectionString="Data Source=DESKTOP-GSM02UG\BDMSSQLSERVER12;Initial Catalog=StudentsMarks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>